.foreign-producers {
  @extend .russian-participants;
  &__h1 {
    font-size: 18px;
    padding-bottom: 40px;
  }
  .company-producer {
    display: flex;
    flex-direction: column;
    &__item {
      margin: auto;
    }
    &__sum {
      @extend .partners__sum;
    }
    &__name {
      border: 2px solid #0f75a2;
      padding: 20px 50px 20px 50px;
      background-color: #c5d3dd;
      width: 200px;
      min-height: 40px;
      margin-bottom: 40px;
    }
  }
  .company-foreign {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__sum {
      @extend .partners__sum;
    }
    &__name {
      @extend .partners__name;
    }
  }
  .company-russian {
    @extend .company-foreign;
    &__sum {
      @extend .partners__sum;
    }
    &__name {
      @extend .partners__name;
    }
  }
}