@import "fonts";
@import "header";
@import "russian-participants";
@import "intermediary-companies";
@import "foreign-producers";
@import "adaptive";
@import "russian-producers";
body {
  background-color: #e2e2e2;
}
.container{
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
@media (min-width:768px){
  .container{
    width:750px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width:992px){
  .container{width:970px;
  }
}
@media (min-width:1200px){
  .container{
    width:1170px;
  }
}